<!DOCTYPE html>

<html>
<head>
    <h4>Menu</h4>
    <div>
        <li>
            <a href = "/rest/emr/">View all EMRs</span></a>
            <!-- <a href = "/rest/view/">View all EMRs</a> -->
        </li>
    </div>
</head>

<body>
     <div>
        <h2>Home, hi Burris!</h2>
        
    </div>
</body>

</html>